# Copyright (c) 2022, 2023 Humanitarian OpenStreetMap Team
# This file is part of fmtm-splitter.
#
#     fmtm-splitter is free software: you can redistribute it and/or modify
#     it under the terms of the GNU General Public License as published by
#     the Free Software Foundation, either version 3 of the License, or
#     (at your option) any later version.
#
#     fmtm-splitter is distributed in the hope that it will be useful,
#     but WITHOUT ANY WARRANTY; without even the implied warranty of
#     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#     GNU General Public License for more details.
#
#     You should have received a copy of the GNU General Public License
#     along with fmtm-splitter.  If not, see <https:#www.gnu.org/licenses/>.
#

networks:
  net:
    name: fmtm-splitter

services:
  splitter:
    image: "ghcr.io/hotosm/fmtm-splitter:${TAG_OVERRIDE:-ci}"
    build:
      target: ci
    container_name: fmtm-splitter
    volumes:
      # Mount local package
      - ./fmtm_splitter:/opt/python/lib/python3.12/site-packages/fmtm_splitter:ro
      # - ../osm-rawdata/osm_rawdata:/opt/python/lib/python3.12/site-packages/osm_rawdata:ro
      # Mount local tests
      - ./tests:/opt/tests:ro
      # For output data
      - ./output:/opt/output
    depends_on:
      db:
        condition: service_healthy
    networks:
      - net
    restart: "no"
    command: "pytest"

  db:
    profiles: ["", "api"]
    image: "postgis/postgis:17-3.5-alpine"
    container_name: fmtm-splitter-db
    environment:
      - POSTGRES_USER=fmtm
      - POSTGRES_PASSWORD=dummycipassword
      - POSTGRES_DB=splitter
    volumes:
      - ./scripts/20_enable_sfcgal.sql:/docker-entrypoint-initdb.d/20_enable_sfcgal.sql:ro
    ports:
      - "5439:5432"
    networks:
      - net
    restart: "unless-stopped"
    healthcheck:
      test: pg_isready -U ${FMTM_DB_USER:-fmtm} -d ${FMTM_DB_NAME:-splitter}
      start_period: 5s
      interval: 10s
      timeout: 5s
      retries: 3
